# ==================================
# Global
# ==================================
.DS_Store
.env
.mypy_cache
.idea/
.vscode/
*.code-workspace
*.bin
*.env
*.ipynb
*.log
*.pyc
*.pyo
*.py[cod]
*.so
*Zone.Identifier
*.egg-info/

# files
*.csv
*.db
*.doc*
*.gguf
*.gif
*.html
*.ipynb
*.jpeg
*.jpg
*.md
*.mkv
*.mp3
*.mp4
*.png
*.sh
*.sqlite3
*.txt
*.wav
*.webm
*.xls*
*.zip

# directories
**/__pycache__/
**/build/
**/data/
**/dist/
**/env/
**/lib/
**/logs/
**/models/
**/output/
**/results/
**/session/
**/uploads/
**/venv/
**/workbench/

# ==================================
# Docker
# ==================================
*.pid
*.sock
docker-compose.override.yml

# ==================================
# Hidden files
# ==================================
.*

# ==================================
# Exceptions
# ==================================
!.gitignore
!.github/
!.github/workflows/
!.github/workflows/ci.yml
!.dockerignore
!.env.docker.example
!.pre-commit-config.yaml
!**/prompts/*.txt
!**/required_exts.txt
!AGENTS.md
