repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        args:
          - --ignore-missing-imports
          - --disable-error-code=import-untyped
          - --disable-error-code=attr-defined
          - --disable-error-code=assignment
          - --no-incremental
        additional_dependencies:
          - types-requests