services:
  ##########################################################
  # Backend (CPU)
  ##########################################################
  backend:
    profiles: ["cpu"]
    build:
      context: .
      dockerfile: Dockerfile.backend.cpu
    ports:
      - "8000:8000"
    environment:
      - DATA_PATH=/app/data
      - LOG_PATH=/app/.logs/backend-cpu.log
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USER=neo4j
      - NEO4J_PASSWORD=password
      - OLLAMA_HOST=http://ollama-net:11434
      - QDRANT_COL_DIR=/qdrant/storage/collections
      - QDRANT_HOST=http://qdrant:6333
      - QDRANT_SRC_DIR=/qdrant/storage/sources
      - QUERIES_PATH=/app/data/queries.txt
      - RESULTS_PATH=/app/results
      - USE_DEVICE=auto
    env_file:
      - .env.docker
    volumes:
      - ${USERPROFILE:-$HOME}/docint/data:/app/data
      - ${USERPROFILE:-$HOME}/docint/results:/app/results
      - docint-logs:/app/.logs
      - easyocr-cache:/root/.EasyOCR
      - model-cache:/root/.cache
      - qdrant-storage:/qdrant/storage
    depends_on:
      ollama:
        condition: service_healthy
      neo4j:
        condition: service_started
    networks:
      docint-net:
        aliases:
          - backend-net

  ##########################################################
  # Neo4j
  ##########################################################
  neo4j:
    image: neo4j:5.26.0
    ports:
      - "7474:7474" # HTTP
      - "7687:7687" # Bolt
    environment:
      - NEO4J_AUTH=neo4j/password
    volumes:
      - neo4j-data:/data
    networks:
      docint-net:
        aliases:
          - neo4j-net

  # Backend (GPU)
  ##########################################################
  backend-gpu:
    profiles: ["gpu"]
    build:
      context: .
      dockerfile: Dockerfile.backend.cuda
    ports:
      - "8000:8000"
    environment:
      - DATA_PATH=/app/data/in
      - LOG_PATH=/app/.logs/backend-gpu.log
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USER=neo4j
      - NEO4J_PASSWORD=password
      - LOG_PATH=/app/.logs/backend-gpu.log
      - NVIDIA_VISIBLE_DEVICES=all
      - OLLAMA_HOST=http://ollama-net:11434
      - QDRANT_COL_DIR=/qdrant/storage/collections
      - QDRANT_HOST=http://qdrant:6333
      - QDRANT_SRC_DIR=/qdrant/storage/sources
      - QUERIES_PATH=/app/data/queries.txt
      - RESULTS_PATH=/app/data/out
      - USE_DEVICE=auto
    env_file:
      - .env.docker
    volumes:
      - ${USERPROFILE:-$HOME}/docint/data:/app/data
      - ${USERPROFILE:-$HOME}/docint/results:/app/results
      - docint-logs:/app/.logs
      - easyocr-cache:/root/.EasyOCR
      - model-cache:/root/.cache
      - qdrant-storage:/qdrant/storage
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
    depends_on:
      ollama-gpu:
        condition: service_healthy
      neo4j:
        condition: service_started
    networks:
      docint-net:
        aliases:
          - backend-net

  ##########################################################
  # Frontend (Streamlit)
  ##########################################################
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    command: streamlit run docint/app.py --server.address 0.0.0.0
    ports:
      - "8501:8501"
    environment:
      - BACKEND_HOST=http://backend-net:8000
      - BACKEND_PUBLIC_HOST=http://localhost:8000
      - LOG_PATH=/app/.logs/frontend.log
      - STREAMLIT_BROWSER_GATHER_USAGE_STATS=false
    volumes:
      - ${USERPROFILE:-$HOME}/docint/data:/app/data
      - ${USERPROFILE:-$HOME}/docint/results:/app/results
      - docint-logs:/app/.logs
    networks:
      - docint-net

  ##########################################################
  # Ollama (CPU)
  ##########################################################
  ollama:
    profiles: ["cpu"]
    image: ollama/ollama:latest
    environment:
      - OLLAMA_HOST=0.0.0.0
    volumes:
      - ollama-models:/root/.ollama
    healthcheck:
      test: ["CMD", "ollama", "list"]
      interval: 5s
      timeout: 10s
      retries: 5
    networks:
      docint-net:
        aliases:
          - ollama-net

  ##########################################################
  # Ollama (GPU)
  ##########################################################
  ollama-gpu:
    profiles: ["gpu"]
    image: ollama/ollama:latest
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - OLLAMA_HOST=0.0.0.0
    volumes:
      - ollama-models:/root/.ollama
    healthcheck:
      test: ["CMD", "ollama", "list"]
      interval: 5s
      timeout: 10s
      retries: 5
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    runtime: nvidia
    restart: always
    networks:
      docint-net:
        aliases:
          - ollama-net

  ##########################################################
  # Qdrant
  ##########################################################
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
      - "6334:6334"
    environment:
      - QDRANT__TELEMETRY_DISABLED=true
    volumes:
      - qdrant-snapshots:/qdrant/snapshots
      - qdrant-storage:/qdrant/storage
    restart: unless-stopped
    networks:
      - docint-net

##########################################################
# Volumes
##########################################################
volumes:
  docint-logs:
  easyocr-cache:
  model-cache:
  ollama-models:
  qdrant-snapshots:
  qdrant-storage:
  neo4j-data:

##########################################################
# Networks
##########################################################
networks:
  docint-net:
