services:
  ##########################################################
  # Backend (CPU)
  ##########################################################
  backend:
    profiles: ["cpu"]
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "8000:8000"
    environment:
      - DATA_PATH=/app/data/in
      - LOG_PATH=/app/.logs/backend.log
      - OLLAMA_HOST=http://ollama:11434
      - QDRANT_COL_DIR=/qdrant/storage/collections
      - QDRANT_HOST=http://qdrant:6333
      - QUERIES_PATH=/app/data/queries.txt
      - RESULTS_PATH=/app/data/out
      - USE_DEVICE=auto
    env_file:
      - .env.docker
    volumes:
      - ${USERPROFILE:-$HOME}/docint/data:/app/data
      - ${USERPROFILE:-$HOME}/docint/data:/app/data/in
      - ${USERPROFILE:-$HOME}/docint/results:/app/data/out
      - backend_logs:/app/.logs
      - easyocr_cache:/root/.EasyOCR
      - model_cache:/root/.cache
      - qdrant_storage:/qdrant/storage
    develop:
      watch:
        - action: sync
          path: ./docint
          target: /app/docint
        - action: sync
          path: ./docint/app.py
          target: /app/docint/app.py
        - action: rebuild
          path: ./pyproject.toml
    depends_on:
      ollama:
        condition: service_healthy
    networks:
      - docintnet

  ##########################################################
  # Backend (GPU)
  ##########################################################
  backend-gpu:
    profiles: ["gpu"]
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "8000:8000"
    environment:
      - DATA_PATH=/app/data/in
      - LOG_PATH=/app/.logs/backend.log
      - NVIDIA_VISIBLE_DEVICES=all
      - OLLAMA_HOST=http://ollama-gpu:11434
      - QDRANT_COL_DIR=/qdrant/storage/collections
      - QDRANT_HOST=http://qdrant:6333
      - QUERIES_PATH=/app/data/queries.txt
      - RESULTS_PATH=/app/data/out
      - USE_DEVICE=auto
    env_file:
      - .env.docker
    volumes:
      - ${USERPROFILE:-$HOME}/docint/data:/app/data
      - ${USERPROFILE:-$HOME}/docint/data:/app/data/in
      - ${USERPROFILE:-$HOME}/docint/results:/app/data/out
      - backend_logs:/app/.logs
      - easyocr_cache:/root/.EasyOCR
      - model_cache:/root/.cache
      - qdrant_storage:/qdrant/storage
    develop:
      watch:
        - action: sync
          path: ./docint
          target: /app/docint
        - action: sync
          path: ./docint/app.py
          target: /app/docint/app.py
        - action: rebuild
          path: ./pyproject.toml
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
    depends_on:
      ollama-gpu:
        condition: service_healthy
    networks:
      - docintnet

  ##########################################################
  # Frontend (Streamlit)
  ##########################################################
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    command: streamlit run docint/app.py --server.address 0.0.0.0
    ports:
      - "8501:8501"
    environment:
      - BACKEND_HOST=http://backend:8000
      - STREAMLIT_BROWSER_GATHER_USAGE_STATS=false
    develop:
      watch:
        - action: sync
          path: ./docint/app.py
          target: /app/docint/app.py
    depends_on:
      - backend
    networks:
      - docintnet

  ##########################################################
  # Ollama (CPU)
  ##########################################################
  ollama:
    profiles: ["cpu"]
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ollama_models:/root/.ollama
    healthcheck:
      test: ["CMD", "ollama", "list"]
      interval: 5s
      timeout: 10s
      retries: 5
    networks:
      - docintnet

  ##########################################################
  # Ollama (GPU)
  ##########################################################
  ollama-gpu:
    profiles: ["gpu"]
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - ollama_models:/root/.ollama
    healthcheck:
      test: ["CMD", "ollama", "list"]
      interval: 5s
      timeout: 10s
      retries: 5
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    runtime: nvidia
    restart: always
    networks:
      - docintnet

  ##########################################################
  # Qdrant
  ##########################################################
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
      - "6334:6334"
    environment:
      - QDRANT__TELEMETRY_DISABLED=true
    volumes:
      - qdrant_snapshots:/qdrant/snapshots
      - qdrant_storage:/qdrant/storage
    restart: unless-stopped
    networks:
      - docintnet

##########################################################
# Volumes
##########################################################
volumes:
  backend_logs:
  easyocr_cache:
  model_cache:
  ollama_models:
  qdrant_snapshots:
  qdrant_storage:

##########################################################
# Networks
##########################################################
networks:
  docintnet:
