services:
  #############################
  # Backend
  #############################
  wizard:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - OLLAMA_URL=http://ollama:11434
      - QDRANT_URL=http://qdrant:6333
      - QDRANT_HOST_DIR=${USERPROFILE:-$HOME}/.qdrant/storage/collections
      - USE_DEVICE=auto
      - NVIDIA_VISIBLE_DEVICES=all
    depends_on:
      - qdrant

  #############################
  # Frontend
  #############################
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - wizard

  #############################
  # Ollama
  #############################
  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ${HOME}/.ollama:/root/.ollama

  #############################
  # Qdrant Vectorstore
  #############################
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ${USERPROFILE:-$HOME}/.qdrant/storage:/qdrant/storage
      - ${USERPROFILE:-$HOME}/.qdrant/snapshots:/qdrant/snapshots
    environment:
      - QDRANT__TELEMETRY_DISABLED=true
    restart: unless-stopped