# Ignore Git and local metadata
.git
.gitignore
.vscode
.idea
*.code-workspace
.DS_Store

# Backend build artifacts and caches
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.so
**/*.egg-info/
**/.log/
**/.venv/
**/build/
**/data/
**/dist/
**/env/
**/lib/
**/models/
**/output/
**/results/
**/session/
**/test/
**/uploads/
**/venv/
**/workbench/

# Environment and config files
.env

# Media, data, and large files not needed for build
*.csv
*.db
*.doc*
*.gguf
*.html
*.ipynb
*.mkv
*.mp3
*.mp4
*.pdf
*.sh
*.sqlite3
*.txt
*.wav
*.webm
*.xls*
*.zip

# Docker-specific
*.pid
*.sock
docker-compose.override.yml