# Exceptions
!backend/tests/
!backend/tests/**.py

# Ignore Git and local metadata
.git
.gitignore
.vscode
.idea
*.code-workspace
.DS_Store

# Backend build artifacts and caches
**/__pycache__/
*.pyc
*.pyo
*.so
**/*.egg-info/
**/.logs/
**/.pytest_cache/
**/.venv/
**/build/
**/data/
**/dist/
**/env/
**/lib/
**/models/
**/output/
**/results/
**/session/

# Environment and config files
.env

# Media, data, and large files not needed for build
*.csv
*.db
*.doc*
*.gguf
*.gif
*.html
*.ipynb
*.jpeg
*.jpg
*.mkv
*.mp3
*.mp4
*.pdf
*.png
*.sh
*.sqlite3
*.txt
*.wav
*.webm
*.xls*
*.zip

# Docker-specific
*.pid
*.sock
docker-compose.override.yml